body{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 175, 232);
    max-width: 1000px;
    margin: 250;
    font-family: 'Absans', sans-serif;
    
}

header{
    flex-basis: 40%;
    border: 6px solid rgb(255, 58, 186);
    padding: 2rem;
}

section{
    border: 6px solid rgb(150, 225, 255);
    padding: 2rem;
}

ol{
    list-style: none;
}

a{
    display: inline-block;
    border: 6px solid rgb(0, 139, 0);
    padding: 2rem;
}